<header>
  <div class="container">
    <div class="header">
			<a class="header__logo logo" href="/">
        <svg width='148' height='37'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
			</a>

			<ul class="header__menu">
				<li><a href="/">Home</a></li>
				<li><a href="/staking.html">Staking</a></li>
				<li><a class="active" href="/referral-program.html">Referral program</a></li>
				<li><a href="/referral-landing.html">FaQ</a></li>
			</ul>

      <div class="header__controls">

        <!-- <div class="header__coin">
          <span class="header__coin-icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#eth'></use>
            </svg>
          </span>
          <span class="header__coin-value">
            <b>218,022.02</b>
             eth
          </span>
        </div> -->
        
        <!-- <div class="header__user">
          <span class="header__user-icon">
            <img  width='40' height='40' src="/img/sprite/coin.svg" alt="image">
          </span>
          <span class="header__user-value">
            TQNq..YWuk
          </span>
          <button class="header__user-btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#power'></use>
            </svg>
          </button>
        </div> -->
        
        <button class="header__btn">Launch app</button>

        <div class="burger">
          <span class="burger__line"></span>
        </div>

        <div class="mobile">
          <div class="mobile__menu">
            <div class="mobile__menu-top">
              <a class="header__logo logo" href="/">
                <svg width='148' height='37'>
                  <use href='img/sprite/sprite.svg#logo'></use>
                </svg>
              </a>
              <div class="burger">
                <span class="burger__line"></span>
              </div>
            </div>
            	<ul class="mobile__menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="/staking.html">Staking</a></li>
                <li><a class="active" href="/referral-program.html">Referral program</a></li>
                <li><a href="/referral-landing.html">FaQ</a></li>
              </ul>
              <button class="header__btn">Launch app</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
