:root {
  /* -- Fonts --*/
  --font-family-beausans: "BT-BeauSans", sans-serif; // var(--font-family-beausans);
  --font-family-mazzardh: "MazzardH", sans-serif; // var(--font-family-mazzardh);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #000; // var(--color-black);
  --color-black-mode: #0a0810; // var(--color-black-mode);

  --primary: #0d1023; // var(--primary);

  --color-blue: #2365fa; // var(--color-blue);
  --color-grey-second: #dadbd6; // var(--color-grey-second);
  --color-grey: #999ec1; // var(--color-grey);
  --color-green: #23fa6c; // var(--color-green);
  --color-dark: #151A37; // var(--color-dark);
  --color-dark-blue: #0e1124; // var(--color-dark-blue);
  --color-dark-bg: #1a2044; // var(--color-dark-bg);

  --border: #2d366c; // var(--border);
  --border-blue: #2365fa; // var(--border-blue);
  --stroke-input: #191f42; // var(--stroke-input);


}








